
@{
    ViewBag.Title = "DB_InsertNewUser";
}

<div class="alert alert-success" role="alert">
    <h1 id="registrationSuccessMsg" class="display-4">Thanks for registering @ViewBag.FirstName! You will now be totally in the loop regarding all things Groundswell!</h1>
</div>
<br />
<br />
<br />