@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="launchPageTronLogo">Groundswell <small>Caffeine Supply</small></h1>
    <p class="lead">Register now to setup and review orders, recieve coupons, check order status, and order schwag!</p>
    <!--<p><a href="/Home/RegisterNewUser" class="btn btn-primary btn-lg">Register Now!</a></p>-->
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title itemName">Chemex 9000</h3>
                </div>
                <div class="panel-body bounding-box">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/chemex2.jpg" />
                    </div>
                    <p class="text-left itemDesc">Science meets coffee.</p><br />
                    <span class="label label-default itemDesc">$79.99</span>
                    <span class="label label-danger itemDesc">BUY</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title itemName">Hario "Steve"-60</h3>
                </div>
                <div class="panel-body bounding-box">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/hario1.jpg" />
                    </div>
                    <p class="text-left itemDesc">Sophisticated brewing experience. Unsophisticated price.</p>
                    <span class="label label-default itemDesc">$49.99</span>
                    <span class="label label-danger itemDesc">BUY</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title itemName">My Name is Lucca A53</h3>
                </div>
                <div class="panel-body bounding-box">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/lucca1.jpg" />
                    </div>
                    <p class="text-left itemDesc">Make the highest quality Italian espresso locally. <small>(Suzanne Vega not incl.)</small></p>
                    <span class="label label-default itemDesc">$2999.99</span>
                    <span class="label label-danger itemDesc">BUY</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title itemName">Kona Peaberry (1lb.)</h3>
                </div>
                <div class="panel-body bounding-box">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/kona1.jpg" />
                    </div>
                    <p class="text-left itemDesc">The champagne of coffee.</p><br />
                    <span class="label label-default itemDesc">$29.99</span>
                    <span class="label label-danger itemDesc">BUY</span>
                </div>
            </div>
        </div>
    </div>
</div>