@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="launchPageTronLogo">Groundswell <small>Caffeine Supply</small></h1>
    <p class="lead">Register now to setup and review orders, recieve coupons, check order status, and order schwag!</p>
    <!--<p><a href="/Home/RegisterNewUser" class="btn btn-primary btn-lg">Register Now!</a></p>-->
</div>
<!-- Pierce made images all the same size by overriding height with an in-line style. He used the smallest height photo as the starting point. -->
<div class="container">
    <div class="row align-items-center">
        @foreach (var item in ViewBag.Items)
        {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title itemName">@item.ProductName</h3>
                </div>
                <div class="panel-body bounding-box">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/@item.ImgName" />
                    </div>
                    <p class="text-left itemDesc">@item.ProductDesc</p><br />
                    <span class="label label-default itemDesc">@item.Price</span>
                    <span class="label label-danger itemDesc">BUY</span>
                </div>
            </div>
        </div>
        }
    </div>
</div>