
@{
    ViewBag.Title = "ItemAdd";
}

<div class="alert alert-danger" role="alert">
    <h1 id="registrationSuccessMsg" class="display-4">@ViewBag.ProductName already exists in the database! Please go back and try again.</h1>
</div>
<br />
<br />
<br />

