
@{
    ViewBag.Title = "RegisterNewUser";
}

@model GC_Deliverable19_Lab20_CoffeeShop_Init.Models.User


<!-- I could not get JQuery Validate Unobtrusive to work. I was able to successfully get a Bootstrap Validator script to work. -->
<div class="container">
    <div class="row">
        <div class="col">
            <form id="regForm" action="/Home/DB_InsertNewUser" method="post" class="pull-right">
                <h1 id="registrationPageLogo" class="col">Groundswell</h1>
                <h2 id="registrationHeading">New User Registration</h2>
                <div class="form-group">
                    <label id="lblUserFirstName" for="userFirstName">First Name</label>
                    <input type="text" class="form-control" id="userFirstName" aria-describedby="emailHelp" placeholder="Enter first name" name="FirstName" required>
                    <small id="firstNameHelp" class="form-text text-muted">Required</small>
                </div>
                <div class="form-group">
                    <label id="lblUserLastName" for="userLastName">Last Name</label>
                    <input type="text" class="form-control" id="userLastName" aria-describedby="emailHelp" placeholder="Enter last name" name="LastName" required>
                    <small id="lastNameHelp" class="form-text text-muted">Required</small>
                </div>
                <div class="form-group">
                    <label id="lblShipToAddr" for="userShipToAddr">Shipping Address</label>
                    <input type="text" class="form-control" id="userShipToAddr" aria-describedby="emailHelp" placeholder="Enter shipping address" name="ShipToAddr" required>
                    <small id="addrHelp" class="form-text text-muted">Required</small>
                </div>
                <div class="form-group">
                    <label id="lblShipToCity" for="userShipToCity">Shipping City</label>
                    <input type="text" class="form-control" id="userShipToCity" aria-describedby="emailHelp" placeholder="Enter shipping City" name="ShipToCity" required>
                    <small id="addrHelp" class="form-text text-muted">Required</small>
                </div>
                <div class="form-group">
                    <label id="lblState" for="inputState">State</label>
                    <select id="inputState" class="form-control" required>
                        <option selected>Choose...</option>
                        <option>AL</option>
                        <option>AK</option>
                        <option>AR</option>
                        <option>AZ</option>
                        <option>CA</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DE</option>
                        <option>DC</option>
                        <option>FL</option>
                        <option>GA</option>
                        <option>HI</option>
                        <option>ID</option>
                        <option>IL</option>
                        <option>IN</option>
                        <option>IA</option>
                        <option>KS</option>
                        <option>KY</option>
                        <option>LA</option>
                        <option>ME</option>
                        <option>MD</option>
                        <option>MA</option>
                        <option>MI</option>
                        <option>MN</option>
                        <option>MS</option>
                        <option>MO</option>
                        <option>MT</option>
                        <option>NE</option>
                        <option>NV</option>
                        <option>NH</option>
                        <option>NJ</option>
                        <option>NM</option>
                        <option>NY</option>
                        <option>NC</option>
                        <option>ND</option>
                        <option>OH</option>
                        <option>OK</option>
                        <option>OR</option>
                        <option>PA</option>
                        <option>RI</option>
                        <option>SC</option>
                        <option>SD</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>UT</option>
                        <option>VT</option>
                        <option>VA</option>
                        <option>WV</option>
                        <option>WI</option>
                        <option>WY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="lblShipToZip" for="userShipToZip">Zip Code</label>
                    <input type="text" class="form-control" id="userShipToZip" aria-describedby="emailHelp" placeholder="Enter shipping zip code" name="ShipToZip" required>
                    <small id="zipHelp" class="form-text text-muted">Required</small>
                </div>
                <div class="form-group">
                    <label id="lblUserPhoneNo" for="userPhoneNo">Phone Number</label>
                    <input type="text" class="form-control" id="userPhoneNo" aria-describedby="emailHelp" placeholder="Enter phone number" name="PhoneNum" required>
                    <small id="phoneHelp" class="form-text text-muted">Enter a ten-digit phone number, area code first</small>
                </div>
                <div class="form-group">
                    <label id="lblUserEmail" for="userEmail">Email Address</label>
                    <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email" name="EmailAddress" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label id="lblUserPassword" for="userPassword">Password</label>
                    <input type="password" class="form-control" id="userPassword" placeholder="Password" name="Pw" required />
                    <!--@Html.ValidationMessageFor(x => x.Pw)-->
                </div>
                <div class="form-group">
                    <label id="lblUserPasswordConfirm" for="userPasswordConfirm">Confirm password</label>
                    <input type="password" class="form-control" id="userPasswordConfirm" placeholder="Confirm password" name="PwConfirm" required />
                </div>
                <br />
                <button type="submit" class="btn btn-danger btn-lg">Submit</button>
                <br />
                <br />
                <div class="form-group">
                    <div class="col">
                        <div id="messages"></div>
                    </div>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </form>
        </div>
    </div>
</div>



<br />
<br />
<br />